<div class="row bg-light p-3 shadow ">
    <div class="col-md-6 col-sm-12 p-2">
        <div class="d-flex align-items-center justify-content-start">
            <img src="/img/logo.png" alt="Logo-img" class="img-fluid" style="height: 60px;">
            <h1 class="fw-semibold ms-2">Agua-Inteligente</h1>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="d-flex align-items-center justify-content-end h-100 me-4">
            <ng-content></ng-content>
            
        </div>
    </div>
</div>